button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #006a00;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.AppDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}

.buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mainActionsDiv {
  display: flex;
  gap: 25px;
}

textarea {
  width: 100%;
  height: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainActionsDiv p {
  color: rgb(255, 55, 0);
  animation: fadeOpacity 1s infinite;
}

@keyframes fadeOpacity {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  .buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
  }
}